<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.mapper.shop.CityMapper">
  <resultMap id="BaseResultMap" type="com.zr.vo.shop.City">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <resultMap id="rsResultMap" type="com.zr.vo.shop.City">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name3" jdbcType="VARCHAR" property="name3" />
    <result column="create_id" jdbcType="VARCHAR" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_id" jdbcType="VARCHAR" property="modifyId" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, province_id, name, create_id, create_time, modify_id, modify_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_city
    where id = #{id,jdbcType=BIGINT}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from shop_city
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zr.vo.shop.City">
    insert into shop_city (id, province_id, name, 
      create_id, create_time, modify_id, 
      modify_time)
    values (#{id,jdbcType=BIGINT}, #{provinceId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{createId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.zr.vo.shop.City">
    insert into shop_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyId != null">
        modify_id,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null">
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zr.vo.shop.City">
    update shop_city
    <set>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null">
        modify_id = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zr.vo.shop.City">
    update shop_city
    set province_id = #{provinceId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      create_id = #{createId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_id = #{modifyId,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="list" resultMap="rsResultMap">
    select shop_city.id,shop_city.province_id,shop_province.name as name3,shop_city.name,create_time from shop_city left join shop_province on shop_city.province_id=shop_province.id
    <where>
      <if test="name!=null">
        shop_city.name like '%${name}%'
      </if>
    </where>
  </select>
  <select id="Getn" resultMap="BaseResultMap">
    select shop_city.name from shop_city where shop_city.id=#{id}
  </select>

  <select id="getc" resultMap="BaseResultMap">
    select * from shop_city
  </select>

  <select id="selectByFromShopId" resultMap="BaseResultMap">
   SELECT
	shop_city.*
    FROM
	shop_city,
	shop_shop
    WHERE
	shop_city.id = shop_shop.city_id
	AND shop_shop.id = #{fromShopId}
  </select>
  <select id="selectByToShopId" resultMap="BaseResultMap">
     SELECT
	shop_city.*
    FROM
	shop_city,
	shop_shop
    WHERE
	shop_city.id = shop_shop.city_id
	AND shop_shop.id = #{toShopId}
  </select>
  <select id="selectFromCityName" resultType="java.lang.String">
    SELECT
	shop_city.name
    FROM
	shop_city,
	shop_shop
    WHERE
	shop_city.id = shop_shop.city_id
	AND shop_shop.id = #{fromShopId}
    </select>
  <select id="selectToCityName" resultType="java.lang.String">
    SELECT
	shop_city.name
    FROM
	shop_city,
	shop_shop
    WHERE
	shop_city.id = shop_shop.city_id
	AND shop_shop.id = #{toShopId}
  </select>

</mapper>